mat-card {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

mat-card-content {
  margin-top: 50px;
  width: 80%;
  display: flex;
}

.input-group {
  display: flex;
}

.login-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}


/*美編提供*/
.login_page {
  background: #27a3a3 url(../../assets/img/bg_login.jpg) no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}


.login_box {
  width: 600px;
  text-align: center;
  padding: 30px 0;
}

.login_box > h2 {
  font-size: 30px;
  color: #415c5c;
  margin: 0 0 20px 0;
  letter-spacing: 5px;
  font-weight: 500;
}

.login_title {
  text-align: center;
  color: #27a3a3;
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
  letter-spacing: 3px;
}
