mat-card {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

mat-card-content {
  margin-top: 50px;
  width: 80%;
  display: flex;
}

.input-group {
  display: flex;
}

.login-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}




