<mat-card class="top-card">
  <mat-card-header class="card-header">
    <h2>{{ "0101.title.qry" | translate }}</h2>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="validateForm">
      <div class="top-container">
        <h3>{{ "common.qry.condition" | translate }}</h3>

        <div class="top-row">
          <div class="top-item">
            <label for="stockCode">{{ "0101.stockCode" | translate }}：</label>
            <mat-form-field appearance="outline">
              <input
                id="stockCode"
                matInput
                formControlName="stockCode"
                maxlength="4"
                [placeholder]="'common.warn.string.value.max' | translate : { value: '4' }"
              />
              <mat-hint align="end">
                {{ validateForm.get("stockCode")?.value?.length || 0 }}/4
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="top-item">
            <label for="stockName">{{ "0101.stockName" | translate }}：</label>
            <mat-form-field appearance="outline">
              <input
                id="stockName"
                matInput
                formControlName="stockName"
                maxlength="50"
                [placeholder]="'common.qry.input.like' | translate : { value: '50' }"
              />
              <mat-hint align="end">
                {{ validateForm.get("stockName")?.value?.length || 0 }}/50
              </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="top-row">
          <div class="top-item">
            <label for="startDate">{{ "0101.startDate" | translate }}：</label>
            <mat-form-field appearance="outline">
              <input id="startDate" matInput type="datetime-local" formControlName="startDate" />
            </mat-form-field>
          </div>

          <div class="top-item">
            <label for="endDate">{{ "0101.endDate" | translate }}：</label>
            <mat-form-field appearance="outline">
              <input id="endDate" matInput type="datetime-local" formControlName="endDate" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
      appDebounceClick
      (debounceClick)="submitForm()"
      class="top-btn"
    >
      {{ "common.qry" | translate }}
    </button>
    <button mat-raised-button (click)="resetForm()" class="top-btn">
      {{ "common.reset" | translate }}
    </button>
  </mat-card-actions>
</mat-card>

@if (showTable) {
  <mat-card class="content-card">
    <mat-card-content>
      <div class="content-container">
        <div class="container-header">
          <h3>{{ "common.qry.result" | translate }}</h3>
          <button mat-raised-button color="primary" (click)="toAdd()">
            {{ "common.add" | translate }}
          </button>
        </div>

        <mat-paginator
          showFirstLastButtons
          (page)="onPageChange($event)"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [length]="totalItems"
          [pageSizeOptions]="[5, 10, 15]"
        >
        </mat-paginator>

        <div class="table-scroll">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="stockCode">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.stockCode" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.stockCode }}</td>
            </ng-container>

            <ng-container matColumnDef="stockName">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.stockName" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.stockName }}</td>
            </ng-container>

            <ng-container matColumnDef="purchaseDate">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.purchaseDate" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.purchaseDate | date: 'yyyy/MM/dd HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="purchaseQuantity">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.purchaseQuantity" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.purchaseQuantity | number }}</td>
            </ng-container>

            <ng-container matColumnDef="purchasePrice">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.purchasePrice" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.purchasePrice | number: '1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="purchaseTotalCost">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.purchaseTotalCost" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.purchaseTotalCost | number: '1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="saleDate">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.saleDate" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.saleDate | date: 'yyyy/MM/dd HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="saleQuantity">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.saleQuantity" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.saleQuantity | number }}</td>
            </ng-container>

            <ng-container matColumnDef="salePrice">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.salePrice" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.salePrice | number: '1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="saleTotalAmount">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.saleTotalAmount" | translate }}</th>
              <td mat-cell *matCellDef="let data">{{ data.saleTotalAmount | number: '1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="rate">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.rate" | translate }}</th>
              <td mat-cell *matCellDef="let data">
                @if (data.rate !== null && data.rate !== undefined) {
                  {{ data.rate | number: '1.2-2' }}%
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="func">
              <th mat-header-cell *matHeaderCellDef>{{ "0101.func" | translate }}</th>
              <td mat-cell *matCellDef="let data" class="func-cell">
                <button mat-raised-button color="primary" class="func-btn" (click)="toView(data)">
                  {{ "common.view" | translate }}
                </button>
                <button mat-raised-button color="primary" class="func-btn" (click)="toUpd(data)">
                  {{ "common.edit" | translate }}
                </button>
                <button mat-raised-button color="warn" class="func-btn" (click)="submitDel(data)">
                  {{ "common.delete" | translate }}
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let data; columns: displayedColumns"></tr>
            <tr *matNoDataRow>
              <td [attr.colspan]="displayedColumns.length" class="table-nodata">
                {{ "common.nodata.dis" | translate }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
}
