<mat-card class="top-card">
  <mat-card-header class="card-header">
    <h2>{{ "0101.title.view" | translate }}</h2>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="validateForm">
      <div class="top-container">
        <h3>{{ "0101.stockInfo" | translate }}</h3>

        <div class="top-row">
          <div class="top-item">
            <label for="stockCode">{{ "0101.stockCode" | translate }}：</label>
            <mat-form-field>
              <input id="stockCode" readonly matInput formControlName="stockCode" />
            </mat-form-field>
          </div>

          <div class="top-item">
            <label for="stockName">{{ "0101.stockName" | translate }}：</label>
            <mat-form-field>
              <input id="stockName" readonly matInput formControlName="stockName" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="content-card">
  <mat-card-content>
    <div class="content-container">
      <div class="container-header">
        <h3>{{ "0101.transactionDetail" | translate }}</h3>
      </div>

      <div class="table-scroll">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="purchaseDate">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.purchaseDate" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.purchaseDate | date: 'yyyy/MM/dd HH:mm' }}</td>
          </ng-container>

          <ng-container matColumnDef="purchaseQuantity">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.purchaseQuantity" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.purchaseQuantity | number }}</td>
          </ng-container>

          <ng-container matColumnDef="purchasePrice">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.purchasePrice" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.purchasePrice | number: '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="purchaseTotalCost">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.purchaseTotalCost" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.purchaseTotalCost | number: '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="saleDate">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.saleDate" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.saleDate | date: 'yyyy/MM/dd HH:mm' }}</td>
          </ng-container>

          <ng-container matColumnDef="saleQuantity">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.saleQuantity" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.saleQuantity | number }}</td>
          </ng-container>

          <ng-container matColumnDef="salePrice">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.salePrice" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.salePrice | number: '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="saleTotalAmount">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.saleTotalAmount" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.saleTotalAmount | number: '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="netProfit">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.netProfit" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.netProfit | number: '1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.rate" | translate }}</th>
            <td mat-cell *matCellDef="let data">
              @if (data.rate !== null && data.rate !== undefined) {
                {{ data.rate | number: '1.2-2' }}%
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="memo">
            <th mat-header-cell *matHeaderCellDef>{{ "0101.memo" | translate }}</th>
            <td mat-cell *matCellDef="let data">{{ data.memo }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let data; columns: displayedColumns"></tr>
          <tr *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length" class="table-nodata">
              {{ "common.nodata.dis" | translate }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="toQry()" class="top-btn">
      {{ "common.back" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
