#overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.overlay-loading {
  display: block;
  transform: translateY(-10%);
  visibility: visible !important;
}
